body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #D2996C;
}

@font-face {
    font-family: 'FancyTitle';
    src: url('fonts/CloisterBlack.ttf');
}
@font-face {
    font-family: 'paragraphFont';
    src: url('fonts/Foglihten-068.otf');
}

nav {
    background-color: #5c3821;
    color: white;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    margin-bottom: 30px;
}
nav ul {
    background-color: #5c3821;
    list-style-type:none;
    display: flex;
    width: 100%;        
}
nav ul li {
    margin: 10px;
}
nav ul li a {
    color: #d8834ebb; 
    text-decoration: none;
    padding: 8px 15px;
    display: block;
    font-size: 18px;
    padding: 5px 20px;
}
nav ul li a:hover {
    background-color: #e79e706b; 

}
/* Page Desciption*/
#page-description-container{
    margin:auto;
}
.page-heading{
    text-align: center;
    font-family: 'FancyTitle';
}
#page-section-text{
    text-indent: 40px;
    width: 75%;
    margin:auto;
    font-family: 'paragraphFont';
}

/*Sections*/
.section-container{
    scroll-margin-top: 300px;  
    margin: 20px;
    height: 400px;
    align-items: center;
}
.section-heading{
    text-align: center;

}
.section-content{
    display: flex; 
    align-items: center;
    background-color: #8E4B32;
}
.section-text{
    width: 50%;
    height: 300px;
    margin: 2%;
    text-indent: 40px;
    display: flex;
    align-content: center;
    


}
.section-image{
    width: 50%;
    height: 300px;
    margin: 2%;
}

.section-link{
    text-align: center;
}

#appearance{
    margin-bottom: 600px;

}